.container {
  width: stretch;
  height: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fileInfoSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error {
  margin: 0;
  color: #e53935;
}
